<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OnlineUNOPython</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <script>
        // reload the page every 5 seconds
        setInterval(function() {
            location.reload();
        }, 5000);
    </script>
</head>
<body>
    <h1>Welcome {{ username }} to OnlineUNOPython!</h1>
    <p>OnlineUNOPython is a web application that allows you to play the card game UNO with other players online.</p>
    <p>It is currently in development.</p>
    <p>For more information, please visit the <a href="{{ url_for('about') }}">About</a> page.</p>
    <p>Edit your settings: <a href="{{ url_for('settings') }}">Here</a></p>
    <p>Current Rooms:</p>
    <ul>
        {% for room in rooms %}
            <li><a href="{{ url_for('room', room_name=room.name) }}">{{ room.name }}</a></li>
        {% endfor %}
    </ul>
    <form action="{{ url_for('create_room') }}" method="post">
        <input type="text" name="name" placeholder="Room Name">
        <input type="password" name="password" placeholder="Open Party (No Password)">
        <input type="submit" value="Create Room">
    </form>
</body>
</html>